<!DOCTYPE html>
<html lang="es">

    
    <%- include("../partials/head.ejs") %> 
    
    <body>
        <%- include("../partials/header.ejs") %> 
        
    <main class="main-productDetail">

        <section class="main__product-container">

            <article class="main__product-imgs-container">

                <img src="images/productos-assets/procesadores/ryzen7/ryzen1.png" alt="ryzen7" id="main__product-imgs-watch">

                <p class="main__product-imgs-title">Fotos del producto</p>

                <div class="main__product-imgs">
                    <img src="images/productos-assets/procesadores/ryzen7/ryzen1.png" alt="ryzen7" class="main__product-imgs-ryzen">
                    <img src="images/productos-assets/procesadores/ryzen7/ryzen2.png" alt="ryzen7" class="main__product-imgs-ryzen">
                    <img src="images/productos-assets/procesadores/ryzen7/ryzen3.png" alt="ryzen7" class="main__product-imgs-ryzen">
                    <img src="images/productos-assets/procesadores/ryzen7/ryzen4.png" alt="ryzen7" class="main__product-imgs-ryzen">
                </div>

            </article>

            <article class="main__product-info-container">

                <div class="main__product-info-head">
                    <h1 class="main__product-head-title">Procesador AMD RYZEN 7 3700X 4.4 GHz AM4 Wraith Prism RGB Led Coolerh</h1>
                    <p class="main__product-head-subtitle">Procesadores y coolers cpus > Procesadores AMD > AMD</p>
                </div>

                <div class="main__product-info-body">
                    <div class="main__product-price">
                        <p class="main__product-price-title">$ 45.900</p>
                        <p class="main__product-price-subtitle">Precio especial</p>
                    </div>
                    <div class="main__product-fees">
                        <p class="main__product-fees-p">12 cuotas sin interés a:</p>
                        <p class="main__product-fees-title">$ 54.643</p>
                        <p class="main__product-fees-subtitle">Precio de lista</p>
                    </div>
                </div>

                <div class="main__product-info-footer">
                    <div class="main__product-warranty-container">
                        <img src="images/productDetail-assets/secure.svg" alt="Garantía" id="main__product-warranty-icon">
                        <p class="main__product-warranty-title">Garantía - 36 meses</p>
                    </div>
                    <div class="main__product-stock-container">
                        <img src="images/productDetail-assets/available.svg" alt="Stock disponible" id="main__product-stock-icon">
                        <p class="main__product-stock-title">Stock disponible</p>
                    </div>
                    <div class="main__product-shipping-container">
                        <img src="images/productDetail-assets/car.svg" alt="Envío disponible" id="main__product-shipping-icon">
                        <p class="main__product-shipping-title">Envíos a todo el país</p>
                    </div>

                    <div class="main__product-add-container">
                        <button class="main__product-add-button" type="submit">Sumar al carrito</button>
                    </div>

                    <div class="main__product-edit-container">
                        <button class="main__product-edit-button" type="button">Editar</button>
                    </div>

                    <div class="main__product-delete-container">
                        <button class="main__product-delete-button" type="button">Borrar</button>
                    </div>

                </div>

            </article>

            <article class="main__product-specs-container">

                <h2 class="main__product-specs-title">ESPECIFICACIONES</h2>
                
                <div class="main__product-specs-characts-container">
                    <h3 class="main__product-specs-characts-title">CARACTERÍSTICAS GENERALES</h3>
                    <p class="main__product-specs-characts-info">Modelo <span class="main__product-specs-characts-span">RYZEN 7 3700X</span></p>
                    <p class="main__product-specs-characts-info">Socket <span class="main__product-specs-characts-span">AM4 Ryzen 3th Gen</span></p>
                    <p class="main__product-specs-characts-info">Núcleos <span class="main__product-specs-characts-span">8</span></p>
                    <p class="main__product-specs-characts-info">Frecuencia <span class="main__product-specs-characts-span">3600.00 mhz</span></p>
                    <p class="main__product-specs-characts-info">Proceso De Fabricación <span class="main__product-specs-characts-span">7 nm</span></p>
                    <p class="main__product-specs-characts-info">Proceso De Fabricación <span class="main__product-specs-characts-span">7 nm</span></p>
                    <p class="main__product-specs-characts-info">Chipset GPU <span class="main__product-specs-characts-span">No posee</span></p>
                    <p class="main__product-specs-characts-info">Hilos <span class="main__product-specs-characts-span">16</span></p>
                    <p class="main__product-specs-characts-info">Frecuencia turbo <span class="main__product-specs-characts-span">4400 mhz</span></p>
                    <p class="main__product-specs-characts-info">Familia <span class="main__product-specs-characts-span">AMD RYZEN 7</span></p>
                </div>

                <div class="main__product-specs-coolers-container">
                    <h3 class="main__product-specs-coolers-title">COOLERS Y DISIPADORES</h3>
                    <p class="main__product-specs-coolers-info">Tdp <span class="main__product-specs-coolers-span">65w</span></p>
                    <p class="main__product-specs-coolers-info">Incluye Cooler Cpu <span class="main__product-specs-coolers-span">Sí</span></p>
                </div>

                <div class="main__product-specs-memory-container">
                    <h3 class="main__product-specs-memory-title">MEMORIA</h3>
                    <p class="main__product-specs-memory-info">L2 <span class="main__product-specs-memory-span">4mb</span></p>
                    <p class="main__product-specs-memory-info">L3 <span class="main__product-specs-memory-span">32mb</span></p>
                </div>
            </article>

        </section>

    </main>

    <%- include("../partials/footer.ejs") %> 

</body>
</html>