<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs") %> 

  
  <body>
    <%- include("../partials/header.ejs") %> 

    <main class="contenedorlogin">
      <section class="main__container">
    <div class="contenedor-facebook-google">
        <h1>INGRESA CON UNA CUENTRA</h1>
        <form action="#" method="post">
          <div class="main__container-facebook">
            <button>
              <img class="imagen-facebook" src="images/formulario-assets/facebook.png" /> <p class="letra-facebook"> Ingresa con
              Facebook </p>
            </button>
          </div>
          <div class="main__container-google">
            <button>
              <img class="imagen-google" src="images/formulario-assets/google.png" /> <p class="letra-google"> Ingrese con
              Google </p>
            </button>
          </div>
        </form>
    </div>

    <div class="contenedor-sesion">
        <h1>INICIAR SESIÓN</h1>
        <form class="form-sesion" action="#" method="post">
          <div class="main__container-name-nombre">
            <input
              type="text"
              name="ingreso"
              id="ingreso"
              placeholder="Email"
            />
          </div>
          <div class="main__container-name-nombre">
            <input
              type="text"
              name="ingreso"
              id="ingreso"
              placeholder="Contraseña"
            />
          </div> 
          <button class="boton-iniciar">Iniciar</button>
    </div>
      
          <a href="./restablecer">¿Has olvidado tu contraseña?</a>
          <a class="registrate" href="./register">Registrate</a>
        </form>
      </section>
    </main>

    <%- include("../partials/footer.ejs") %> 

  </body>
</html>
