<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head.ejs") %> 

    
    <body>
    <%- include("../partials/header.ejs") %> 


    <main class="main-registerUsers">

        <section class="main__register-container">

            <h2 class="main__title">Por favor, ingrese sus respectivos datos para validarlo en el sistema</h2>

            <form action="/register" method="post" enctype="multipart/form-data">
                <div class="main__container-name nombre">
                    <div class="main__bluebox"><img src="images/registro-assets/name.svg" alt="nombre-registro"
                            id="main__register-name"></div>
                    <div class="main__register">
                        <input type="text" name="registroNombre" id="registroNombre" placeholder="Nombre"
                            class="main__register-name" required oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-surname apellido">
                    <div class="main__bluebox"><img src="images/registro-assets/surname.svg" alt="apellido-registro"
                            id="main__register-surname"></div>
                    <div class="main__register">
                        <input type="text" name="registroApellido" id="registroApellido" placeholder="Apellido"
                            class="main__register-surname" required oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-user usuario">
                    <div class="main__bluebox"><img src="images/registro-assets/user.svg" alt="usuario-registro"
                            id="main__register-user"></div>
                    <div class="main__register">
                        <input type="text" name="registroUsuario" id="registroUsuario" placeholder="Usuario"
                            class="main__register-user" required oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-email email">
                    <div class="main__bluebox"><img src="images/registro-assets/email.svg" alt="email-registro"
                            id="main__register-email"></div>
                    <div class="main__register">
                        <input type="email" name="registroEmail" id="registroEmail" placeholder="Email"
                            class="main__register-email" required oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-lock contrasenia">
                    <div class="main__bluebox"><img src="images/registro-assets/unlock.svg" alt="contrase単a-registro"
                            id="main__register-lock"></div>
                    <div class="main__register">
                        <input type="password" name="registroLock" id="registroLock" placeholder="Contrase単a"
                            class="main__register-lock" required oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-lockRepeat contraseniarepeat">
                    <div class="main__bluebox"><img src="images/registro-assets/lock.svg"
                            alt="repetir-contrase単a-registro" id="main__register-lockRepeat"></div>
                    <div class="main__register">
                        <input type="password" name="registroLockRepeat" id="registroLockRepeat"
                            placeholder="Repetir Contrase単a" class="main__register-lockRepeat" required
                            oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-avatar avatar">
                    <div class="main__bluebox"><img src="images/registro-assets/avatar.svg" alt="avatar-registro"
                            id="main__register-avatar"></div>
                    <div class="main__register">
                        <input type="file" name="registroAvatar" id="registroAvatar" placeholder="Avatar"
                            class="main__register-avatar" oninvalid="this.setCustomValidity(' ')">
                    </div>
                </div>
                <div class="main__container-rol rol">
                    <div class="main__bluebox"><img src="images/registro-assets/id.svg" alt="rol-registro"
                            id="main__register-rol"></div>
                    <div class="main__register">
                        <select name="registroRol" id="registroRol">
                            <option value="Comprador" selected>Comprador</option>
                            <option value="Vendedor">Vendedor</option>
                        </select>
                    </div>
                </div>

                <button type="submit" id="main__register-submit">Registrarse</button>

            </form>
        </section>
    </main>

    <%- include("../partials/footer.ejs") %> 

</body>

</html>